---
const date = new Date("2024-05-18T17:00:00.000+02:00");
const now = new Date();
const distance = date.getTime() - now.getTime();

const day = Math.floor(distance / (1000 * 60 * 60 * 24));
const hour = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
const minute = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
const second = Math.floor((distance % (1000 * 60)) / 1000);
---

<h2 class="pt-4 text-center text-SHKDzeragir text-canard text-3xl">
  Countdown
</h2>
<span class="text-center text-SHKDzeragir text-canard">
  <span id="day" class="text-xl">{day}</span>
  <span class="text-xl">:</span>
  <span id="hour" class="text-xl">{hour}</span>
  <span class="text-xl">:</span>
  <span id="minute" class="text-xl">{minute}</span>
  <span class="text-xl">:</span>
  <span id="second" class="text-xl">{second}</span>
</span>
<script>
  const dayElement = document.getElementById("day");
  const hourElement = document.getElementById("hour");
  const minuteElement = document.getElementById("minute");
  const secondElement = document.getElementById("second");

  if (dayElement && hourElement && minuteElement && secondElement) {
    const date = new Date("2024-05-18T17:00:00.000+02:00");

    const loop = () => {
      const now = new Date();
      const distance = date.getTime() - now.getTime();

      const day = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hour = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
      );
      const minute = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const second = Math.floor((distance % (1000 * 60)) / 1000);

      requestAnimationFrame(() => {
        dayElement.innerText = `${day}`;
        hourElement.innerText = `${hour}`;
        minuteElement.innerText = `${minute}`;
        secondElement.innerText = `${second}`;

        setTimeout(loop, 1000);
      });
    };

    loop();
  }
</script>
